fastapi
uvicorn
pandas
scikit-learn
python-multipart
pydantic
python-dotenv
jinja2
aiofiles
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
easyocr
Pillow
torch
torchvision
thefuzz
python-Levenshtein
requests
faster-whisper
huggingface-hub
websockets
